<%- include('./userHeader') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/userSideDesigns/css/userRegister.css" type="text/css" />
</head>

<body>
    <div class="register-section">
        <h2>Register</h2>
        <form method="post" action="/UserRegisterInfo" class="register-form">
            <table>
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text" name="userName" placeholder="Enter your username" />
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="email" name="userEmail" placeholder="Enter your email" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="text" name="userPassword" placeholder="Enter your password" />
                    </td>
                </tr>
                <tr>
                    <td>Confirm password</td>
                    <td>
                        <input type="text" name="userConfirmPass" placeholder="Confirm your password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <input type="submit" value="Register" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>