<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="userSideDesigns/css/userHeader.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css"
        integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header">
            <div class="title">
                <a href="/"><h1>The news journal</h1></a>
            </div>
            <div class="search">
                <input type="text" name="search" placeholder="search..." />
                <i class="ri-search-2-line"></i>
            </div>
            <div class="login-btn">
                <a href="/userLogin">Login</a>
                <a href="/userRegister">Register</a>
            </div>
        </div>
    </header>
</body>

</html>