<%- include('./userHeader') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/userSideDesigns/css/userLogin.css" type="text/css" />
    </head>

    <body>
        <div class="login-section">
            <h2>Login</h2>
            <form method="post" action="/UserLoginInfo" class="login-form">
                <table>
                    <td>Email</td>
                    <td>
                        <input type="email" name="userEmail" placeholder="Enter your email" />
                    </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="text" name="userPassword" placeholder="Enter your password" />
                        </td>
                    </tr>
                    <td colspan="2" style="text-align: center">
                        <input type="submit" value="Login" />
                    </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

    </html>